html {
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* header css start */
.wavy1 {
  display: flex;
  position: relative;
  height: 15rem;
  color: #fff;
  background: #370220;
  align-items: center;
  justify-content: center;
  --mask: radial-gradient(77.18px at 50% 106px, #000 99%, #0000 101%)
      calc(50% - 80px) 0/160px 51% repeat-x,
    radial-gradient(77.18px at 50% -66px, #0000 99%, #000 101%) 50% 40px/160px
      calc(51% - 40px) repeat-x,
    radial-gradient(77.18px at 50% calc(100% - 106px), #000 99%, #0000 101%)
      calc(50% - 80px) 100%/160px 51% repeat-x,
    radial-gradient(77.18px at 50% calc(100% + 66px), #0000 99%, #000 101%) 50%
      calc(100% - 40px) / 160px calc(51% - 40px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

@media only screen and (max-width: 1069px) {
  .wavy1 {
    height: 21rem;
  }
}

@media only screen and (max-width: 609px) {
  .wavy1 {
    height: 24rem;
  }
}

@media only screen and (max-width: 468px) {
  .wavy1 {
    height: 28rem;
  }
}

@media only screen and (max-width: 425px) {
  .wavy1 {
    height: 31rem;
  }
}

@media only screen and (max-width: 317px) {
  .wavy1 {
    height: 34rem;
  }
}
/* header css end */

/* required elements start */
.myinfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myinfo div {
  margin: 1rem;
  padding: 1rem;
  border: 0.2rem solid #000;
  box-shadow: 0.2rem 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 758px) {
  .myinfo {
    display: flex;
    flex: 0 0 calc(33.33% - 1rem);
  }
}
/* required elements end */

/* mini carousel css start */
.about_me_carousel {
  width: 50%;
  height: fit-content;
  position: relative;
  margin: auto;
}

@media only screen and (max-width: 483px) {
  .about_me_both {
    flex-direction: column;
  }
}

.about_me_carousel_inner {
  width: 100%;
  height: fit-content;
  transition: transform 0.5s ease;
  position: relative;
  flex-wrap: nowrap;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
}

.carousel-item {
  width: 100%;
  overflow: auto;
  height: 100%;
  transition: opacity 0.5s ease;
  border: 0.3rem solid rgb(116, 72, 72);
  border-radius: 1.5rem;
  box-shadow: none;
  color: #000;
  background: none;
  flex-shrink: 0;
  scroll-snap-align: start;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(40, 38, 38);
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 3rem;
  height: 2.5rem;
  border-radius: 50%;
}

.carousel-item .heart {
  font-size: 100rem;
}

.carousel-control-prev {
  left: -1.5rem;
}

.carousel-control-next {
  right: -1.5rem;
}
.animation {
  animation: slidein 4s;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    opacity: 0;
    color: white;
  }

  to {
    opacity: 1;
    color: #370220;
  }
}

.item1 {
  animation-delay: 100ms;
  opacity: 0;
}

.item2 {
  animation-delay: 400ms;
  opacity: 0;
}

.item3 {
  animation-delay: 600ms;
  opacity: 0;
}

.item4 {
  animation-delay: 800ms;
  opacity: 0;
}

.item5 {
  animation-delay: 1000ms;
  opacity: 0;
}
/* mini carousel css end */

/* goals css end */
.goals_list {
  display: flex;
  margin-top: 2rem;
}

.goals_list ul {
  list-style-type: none;
}

.goals_list ul li {
  margin: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.left_list {
  flex: 1;
  background-color: #033a76;
}
.right_list {
  flex: 1;
  background-color: #585656;
}

.goals_list input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 0.8rem;
  margin-bottom: 0;
  border: 0.15rem solid #000000;
  border-radius: 0.3rem;
  cursor: pointer;
}
/* goals css end */

/* required links css start */
.required_links {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  text-decoration: underline;
}

@media only screen and (max-width: 403px) {
  .required_links {
    flex-direction: column;
    text-align: center;
  }
}
/* required link css end */

/* footer css start */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.heart {
  font-size: 24px;
  color: #ff69b4;
}
/* footer css end */
